@import '_colors';

// having to incorporate this extra class to override color
.mdc-icon-button {
    &.icon-button {
        color: $color-primary-light;

        &--on-primary {
            color: $color-on-primary;
        }

        &--on-secondary {
            color: $color-on-secondary;
        }
    }
}
