@import '_base';

$spinner-size: 2rem;

.switch {
    display: inline-flex;
    position: relative;

    &__spinner {
        color: rgba(0, 0, 0, 0.4);
        font-size: $spinner-size !important;
        height: $spinner-size;
        position: absolute;
        width: $spinner-size;
        z-index: 1;
    }

    &--full-width {
        min-height: 2rem;
        width: 100%;
    }

    &.mdc-switch {
        margin-right: $gutter-small;
    }

    label {
        margin-left: $gutter-small;
    }
}
