@import '_base';

.layout {
    display: flex;
    flex-direction: column;
    position: relative;

    &__main {
        flex: 1 1 auto;
    }

    &__header {
        flex: 0 0 auto;
    }

    &__footer {
        flex: 0 0 auto;
    }

    &__loading {
        background-color: rgba(0, 0, 0, 0.6);
        height: 100vh;
        left: 0;
        position: absolute;
        top: 0;
        width: 100vw;
        z-index: $z-index-loading;
    }

    @media print {
        &__header,
        &__footer {
            display: none;
        }
    }
}
